In [3]:
import csv
import pandas as pd

In [5]:
weather_data = pd.read_csv("weather.csv")
weather_data

   State Inches Milli metres Rank
0             Alabama 58.3 1480 4
1              Alaska 22.5 572 39
2             Arizona 13.6 345 47
3            Arkansas 50.6 1284 8
4          California 22.2 563 40
5            Colorado 15.9 405 44
6         Connecticut 50.3 1279 9
7           Delaware 45.7 1160 16
8             Florida 54.5 1385 5
9             Georgia 50.7 1287 7
10             Hawaii 63.7 1618 1
11              Idaho 18.9 481 42
12           Illinois 39.2 996 27
13           Indiana 41.7 1060 26
14               Iowa 34.0 864 31
15             Kansas 28.9 733 35
16          Kentucky 48.9 1242 12
17          Louisiana 60.1 1528 2
18             Maine 42.2 1072 23
19          Maryland 44.5 1131 18
20     Massachusetts 47.7 1211 14
21           Michigan 32.8 833 32
22          Minnesota 27.3 693 37
23        Mississippi 59.0 1499 3
24          Missouri 42.2 1071 24
25            Montana 15.3 390 45
26           Nebraska 23.6 599 38
27              Nevada 9.5 241 50
28     New Hampshire 43.4 1103 20
29        New Jersey 47.1 1196 15
30         New Mexico 14.6 370 46
31          New York 41.8 1062 25
32     North Carolina 50.3 1279 9
33       North Dakota 17.8 452 43
34               Ohio 39.1 993 28
35           Oklahoma 36.5 927 30
36             Oregon 27.4 695 36
37      Pennsylvania 42.9 1089 21
38      Rhode Island 47.9 1218 13
39    South Carolina 49.8 1264 11
40       South Dakota 20.1 511 41
41          Tennessee 54.2 1376 6
42              Texas 28.9 734 34
43               Utah 12.2 310 49
44           Vermont 42.7 1085 22
45          Virginia 44.3 1125 19
46         Washington 38.4 976 29
47     West Virginia 45.2 1147 17
48          Wisconsin 32.6 829 33
49            Wyoming 12.9 328 48