# CATS(Computationally analyzing the state of) Mental Health

## Goals
### Primary:
* Present an overview of mental health metrics in the United States
* Prevalence and incidence
* Mortality
* Disease burden: disease-associated-life-years (DALY), years lost living (YLLs)
### Secondary:
* Investigate possible correlation between availability of mental health services and health insurance status and above metrics

## 1. Import dependencies.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 2. Import the original dataset
* this dataset is from [GBD (global burden of disease)](www.healthdata.org/gbd/).
* broad range of available metrics for ICD diagnoses, outcomes (death, disability), epidemiology (prevalence, incidence).
* however, the datasets are not very clean.

In [30]:
file = "Resources/statistics.csv"
psych_df = pd.read_csv(file, encoding="utf-8")
psych_df.head(30)

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,metric_id,metric_name,year,val,upper,lower
0,1,Deaths,569,Virginia,1,Male,8,15 to 19,973,Substance use disorders,1,Number,2017,17.009529,24.473869,11.200329
1,1,Deaths,569,Virginia,2,Female,8,15 to 19,973,Substance use disorders,1,Number,2017,6.289063,8.849906,4.321646
2,1,Deaths,569,Virginia,1,Male,8,15 to 19,973,Substance use disorders,2,Percent,2017,0.092553,0.127542,0.064141
3,1,Deaths,569,Virginia,2,Female,8,15 to 19,973,Substance use disorders,2,Percent,2017,0.086652,0.116264,0.062147
4,1,Deaths,569,Virginia,1,Male,8,15 to 19,973,Substance use disorders,3,Rate,2017,6.044813,8.697475,3.980351
5,1,Deaths,569,Virginia,2,Female,8,15 to 19,973,Substance use disorders,3,Rate,2017,2.344248,3.298802,1.610893
6,1,Deaths,569,Virginia,1,Male,9,20 to 24,973,Substance use disorders,1,Number,2017,69.858045,96.014836,48.429282
7,1,Deaths,569,Virginia,2,Female,9,20 to 24,973,Substance use disorders,1,Number,2017,22.966785,29.901790,16.270186
8,1,Deaths,569,Virginia,1,Male,9,20 to 24,973,Substance use disorders,2,Percent,2017,0.188586,0.249395,0.136195
9,1,Deaths,569,Virginia,2,Female,9,20 to 24,973,Substance use disorders,2,Percent,2017,0.193958,0.243023,0.146867
10,1,Deaths,569,Virginia,1,Male,9,20 to 24,973,Substance use disorders,3,Rate,2017,23.619574,32.463398,16.374335
11,1,Deaths,569,Virginia,2,Female,9,20 to 24,973,Substance use disorders,3,Rate,2017,8.183801,10.654965,5.797588
12,1,Deaths,569,Virginia,1,Male,10,25 to 29,973,Substance use disorders,1,Number,2017,117.346235,156.440110,83.011876
13,1,Deaths,569,Virginia,2,Female,10,25 to 29,973,Substance use disorders,1,Number,2017,40.823609,52.273320,30.444537
14,1,Deaths,569,Virginia,1,Male,10,25 to 29,973,Substance use disorders,2,Percent,2017,0.257041,0.324672,0.193505
15,1,Deaths,569,Virginia,2,Female,10,25 to 29,973,Substance use disorders,2,Percent,2017,0.239883,0.288497,0.191578
16,1,Deaths,569,Virginia,1,Male,10,25 to 29,973,Substance use disorders,3,Rate,2017,37.701174,50.261314,26.670180
17,1,Deaths,569,Virginia,2,Female,10,25 to 29,973,Substance use disorders,3,Rate,2017,13.304620,17.036139,9.922028
18,1,Deaths,569,Virginia,1,Male,11,30 to 34,973,Substance use disorders,1,Number,2017,127.568294,162.174833,97.273792
19,1,Deaths,569,Virginia,2,Female,11,30 to 34,973,Substance use disorders,1,Number,2017,55.470339,70.570610,41.511274
20,1,Deaths,569,Virginia,1,Male,11,30 to 34,973,Substance use disorders,2,Percent,2017,0.262001,0.320493,0.208319
21,1,Deaths,569,Virginia,2,Female,11,30 to 34,973,Substance use disorders,2,Percent,2017,0.242862,0.285315,0.197342
22,1,Deaths,569,Virginia,1,Male,11,30 to 34,973,Substance use disorders,3,Rate,2017,42.626063,54.189598,32.503365
23,1,Deaths,569,Virginia,2,Female,11,30 to 34,973,Substance use disorders,3,Rate,2017,18.497404,23.532813,13.842548
24,1,Deaths,569,Virginia,1,Male,12,35 to 39,973,Substance use disorders,1,Number,2017,126.179537,159.233352,95.188665
25,1,Deaths,569,Virginia,2,Female,12,35 to 39,973,Substance use disorders,1,Number,2017,59.196153,78.620964,44.243158
26,1,Deaths,569,Virginia,1,Male,12,35 to 39,973,Substance use disorders,2,Percent,2017,0.231232,0.277998,0.185028
27,1,Deaths,569,Virginia,2,Female,12,35 to 39,973,Substance use disorders,2,Percent,2017,0.202144,0.245425,0.162691
28,1,Deaths,569,Virginia,1,Male,12,35 to 39,973,Substance use disorders,3,Rate,2017,43.574398,54.989087,32.872119
29,1,Deaths,569,Virginia,2,Female,12,35 to 39,973,Substance use disorders,3,Rate,2017,20.160123,26.775530,15.067661

## 3. Clean data.
* for metrics that require normalization (eg. prevalence, mortality), rate statistics were used, so raw numbers and percentages were dropped.
* since these metrics are for all mental illness, the cause names were added to create a total count/rate, grouped under states.
* individual data tables were created for prevalence, incidence, mortality, DALY, YLL etc.

* below are some examples of cleaned data.

In [20]:
incidence = pd.read_csv("output_CSVs/cleaned_incidence_rate_sorted.csv")
incidence = incidence.drop(columns="Unnamed: 0")
incidence.head(6)

                  State  Incidence (Rate) Abbreviation
0            New Jersey          488409.2           NJ
1              Illinois          512863.9           IL
2  District of Columbia          521089.4           DE
3          South Dakota          522359.5           SD
4           Connecticut          522888.9           CT
5          North Dakota          531634.0           ND

In [21]:
prevalence = pd.read_csv("output_CSVs/cleaned_prevalence_rate_sorted.csv")
prevalence = prevalence.sort_values(by="Prevalence of Mental Illness", ascending=False)
prevalence.head(6)

            State  Prevalence of Mental Illness
48  West Virginia                     1902669.7
31     New Mexico                     1841779.4
39   Rhode Island                     1835626.5
2         Arizona                     1799871.5
17       Kentucky                     1787568.9
44           Utah                     1774482.8

In [27]:
suicide = pd.read_csv("output_CSVs/cleaned_suicide_rates.csv")
suicide = suicide.sort_values(by="RATE", ascending=False)
suicide.head(6)

   STATE  RATE DEATHS
25    MT  28.9    311
0     AK  27.0    200
49    WY  26.9    157
31    NM  23.3    491
12    ID  23.2    392
43    UT  22.7    663

In [29]:
DALY = pd.read_csv("output_CSVs/cleaned_DALY_2.csv")
DALY = DALY.drop(columns="Unnamed: 0")
DALY = DALY.sort_values(by="DALY", ascending=False)
DALY.head(6)

           State Abbreviation       DALY
4     California           CA  3741299.1
43         Texas           TX  2544857.0
9        Florida           FL  2271085.0
32      New York           NY  1936880.0
38  Pennsylvania           PA  1620977.1
35          Ohio           OH  1536390.3

In [14]:
YLL = pd.read_csv("output_CSVs/cleaned_YLL_sorted.csv")
YLL = YLL.drop(columns="Unnamed: 0")
YLL = YLL.sort_values(by="YLL", ascending=False)
YLL.head(6)

           State Abbreviation       YLL
4     California           CA  878335.4
9        Florida           FL  692897.1
43         Texas           TX  607737.6
35          Ohio           OH  558669.1
38  Pennsylvania           PA  546866.2
32      New York           NY  444441.9

## Heatmaps
1. [Incidence](https://plot.ly/~bkcenik/10)
2. [Prevalence](https://plot.ly/~bkcenik/8)
3. [Suicide Rates](https://plot.ly/~bkcenik/20)
4. [DALYs](https://plot.ly/~bkcenik/14)
5. [YLLs](https://plot.ly/~bkcenik/12)

#### 1. Incidence
![Incidence](https://plot.ly/~bkcenik/18.jpeg)
#### 2. Prevalence
![Prevalence](https://plot.ly/~bkcenik/8.jpeg)
#### 3. Suicide Rates
![Suicide Rates](https://plot.ly/~bkcenik/20.jpeg)
#### 4. Disability-associated Life-Years (DALYs)
![DALYs](https://plot.ly/~bkcenik/14.jpeg)
#### 5. Years of Life Lost (YLLs)
![YLLs](https://plot.ly/~bkcenik/12.jpeg)