In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.plotly as py
import plotly.tools as pytl
from config import api_key
from config import username
pytl.set_credentials_file(username=username, api_key=api_key)

In [6]:
file = "Resources/statistics.csv"
psych_df = pd.read_csv(file, encoding="utf-8")
psych_df.head()
psych_df["measure_name"].unique()

array(['Deaths', 'YLDs (Years Lived with Disability)',
       'YLLs (Years of Life Lost)', 'Prevalence', 'Incidence',
       'DALYs (Disability-Adjusted Life Years)'], dtype=object)

In [9]:
DALY_group = psych_df.groupby("measure_name")
DALY_only = psych_df.loc[psych_df["measure_name"] == 'DALYs (Disability-Adjusted Life Years)']
DALY_only.head()
DALY_only_cleaned = DALY_only[["location_name", "sex_name", "age_name", "cause_name", "metric_name", "val"]]
DALY_only_cleaned.head(30)
DALY_number = DALY_only_cleaned.loc[DALY_only_cleaned["metric_name"] == "Number"]
DALY_number.head()
DALY_number_cleaned = DALY_number[["location_name", "sex_name", "age_name", "cause_name", "val"]]
DALY_number_statesort = DALY_number_cleaned.sort_values("location_name", ascending=True)
DALY_number_statesort.head()
DALY_number_statesort.to_csv("Output_CSVs/cleanedDALY.csv", encoding="utf-8", index=False)

In [11]:
DALY_number_statesort

,location_name,sex_name,age_name,cause_name,val
486931,Alabama,Female,80 to 84,Bipolar disorder,33.088843
486577,Alabama,Female,15 to 19,Depressive disorders,2442.404162
486582,Alabama,Male,20 to 24,Depressive disorders,1469.307068
486583,Alabama,Female,20 to 24,Depressive disorders,2293.299951
486588,Alabama,Male,25 to 29,Depressive disorders,1386.893886
486589,Alabama,Female,25 to 29,Depressive disorders,2244.713551
486594,Alabama,Male,30 to 34,Depressive disorders,1233.955104
486595,Alabama,Female,30 to 34,Depressive disorders,2078.193893
486600,Alabama,Male,35 to 39,Depressive disorders,1296.744145
486601,Alabama,Female,35 to 39,Depressive disorders,2296.517283
486606,Alabama,Male,40 to 44,Depressive disorders,1246.290433
486607,Alabama,Female,40 to 44,Depressive disorders,2222.995188
486612,Alabama,Male,45 to 49,Depressive disorders,1218.884605
486613,Alabama,Female,45 to 49,Depressive disorders,2184.916247
486618,Alabama,Male,50 to 54,Depressive disorders,1111.247689
486619,Alabama,Female,50 to 54,Depressive disorders,2017.249116
486624,Alabama,Male,55 to 59,Depressive disorders,986.334774
486625,Alabama,Female,55 to 59,Depressive disorders,1854.332674
486667,Alabama,Female,15 to 19,Major depressive disorder,2185.799629
486666,Alabama,Male,15 to 19,Major depressive disorder,990.951236
486661,Alabama,Female,80 to 84,Depressive disorders,258.806248
486660,Alabama,Male,80 to 84,Depressive disorders,145.769609
486655,Alabama,Female,80 plus,Depressive disorders,584.366523
486654,Alabama,Male,80 plus,Depressive disorders,276.897018
486576,Alabama,Male,15 to 19,Depressive disorders,1145.631822
486649,Alabama,Female,75 to 79,Depressive disorders,407.894951
486643,Alabama,Female,70 to 74,Depressive disorders,710.164364
486642,Alabama,Male,70 to 74,Depressive disorders,401.913789
486637,Alabama,Female,65 to 69,Depressive disorders,1120.221395
486636,Alabama,Male,65 to 69,Depressive disorders,607.644618
...,...,...,...,...,...
473854,Wyoming,Male,40 to 44,Bulimia nervosa,13.837302
473855,Wyoming,Female,40 to 44,Bulimia nervosa,26.192031
473860,Wyoming,Male,45 to 49,Bulimia nervosa,7.678765
473861,Wyoming,Female,45 to 49,Bulimia nervosa,19.060396
473866,Wyoming,Male,50 to 54,Bulimia nervosa,0.000000
473842,Wyoming,Male,30 to 34,Bulimia nervosa,35.488752
473807,Wyoming,Female,75 to 79,Anorexia nervosa,0.000000
473806,Wyoming,Male,75 to 79,Anorexia nervosa,0.000000
473801,Wyoming,Female,70 to 74,Anorexia nervosa,0.000000
473741,Wyoming,Female,20 to 24,Anorexia nervosa,22.633537
473746,Wyoming,Male,25 to 29,Anorexia nervosa,4.421300
473747,Wyoming,Female,25 to 29,Anorexia nervosa,21.658560
473752,Wyoming,Male,30 to 34,Anorexia nervosa,3.210062
473753,Wyoming,Female,30 to 34,Anorexia nervosa,16.925874
473758,Wyoming,Male,35 to 39,Anorexia nervosa,2.116913
473759,Wyoming,Female,35 to 39,Anorexia nervosa,11.693464
473764,Wyoming,Male,40 to 44,Anorexia nervosa,1.273301
473765,Wyoming,Female,40 to 44,Anorexia nervosa,7.456796
473770,Wyoming,Male,45 to 49,Anorexia nervosa,0.794628
473771,Wyoming,Female,45 to 49,Anorexia nervosa,5.228751
473776,Wyoming,Male,50 to 54,Anorexia nervosa,0.000000
473777,Wyoming,Female,50 to 54,Anorexia nervosa,0.000000
473782,Wyoming,Male,55 to 59,Anorexia nervosa,0.000000
473783,Wyoming,Female,55 to 59,Anorexia nervosa,0.000000
473788,Wyoming,Male,60 to 64,Anorexia nervosa,0.000000
473789,Wyoming,Female,60 to 64,Anorexia nervosa,0.000000
473794,Wyoming,Male,65 to 69,Anorexia nervosa,0.000000
473795,Wyoming,Female,65 to 69,Anorexia nervosa,0.000000
473735,Wyoming,Female,15 to 19,Anorexia nervosa,19.605173
473254,Wyoming,Male,65 to 69,Depressive disorders,87.268625

In [11]:
alabama = DALY_number_statesort.loc[DALY_number_statesort["location_name"] == "Alabama"]
alabama
sums = alabama["val"].sum()
sums

589755.822409285

In [12]:
alaska = DALY_number_statesort.loc[DALY_number_statesort["location_name"] == "Alaska"]
sums = alaska["val"].sum()
sums

98664.70567534836

In [13]:
total_DALY = []
for state in DALY_number_statesort["location_name"].unique():
    locator = DALY_number_statesort.loc[DALY_number_statesort["location_name"] == state]
    sums = round(locator["val"].sum(),1)
    total_DALY.append(sums)
total_DALY

[589755.8,
 98664.7,
 852195.8,
 325822.3,
 3741299.1,
 587855.6,
 404694.7,
 117115.2,
 73975.4,
 2271085.0,
 1080402.4,
 125495.9,
 179473.9,
 1276507.1,
 775218.0,
 266206.3,
 284325.2,
 685360.0,
 554873.8,
 161132.0,
 532118.0,
 804230.4,
 1152640.3,
 476501.3,
 347522.3,
 707063.7,
 119500.7,
 151920.6,
 393060.2,
 174661.9,
 896411.7,
 294983.1,
 1936880.0,
 1108267.3,
 58663.3,
 1536390.3,
 520166.1,
 460078.8,
 1620977.1,
 136739.9,
 584462.0,
 69024.6,
 907924.7,
 2544857.0,
 356579.6,
 65389.4,
 839722.2,
 799690.8,
 332650.9,
 614357.0,
 68878.6]

In [14]:
unique = DALY_number_statesort["location_name"].unique()
DALY_df = pd.DataFrame({"State": unique,
                             'DALYs (Disability-Adjusted Life Years)': total_DALY}, index=None)

In [15]:
DALY_df
DALY_df.to_csv("cleaned_total_DALY.csv", encoding="utf-8", index=False)
sorted_DALY = DALY_df.sort_values(by=["State"], ascending=True)
sorted_DALY.head()

        State  DALYs (Disability-Adjusted Life Years)
0     Alabama                                589755.8
1      Alaska                                 98664.7
2     Arizona                                852195.8
3    Arkansas                                325822.3
4  California                               3741299.1

In [16]:

state_abbr = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
            "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
state_df = pd.DataFrame({
    "Abbreviation": state_abbr
})

merged_DALY = pd.DataFrame({
    "State": sorted_DALY["State"],
    "Abbreviation": state_df["Abbreviation"],
    "DALY": sorted_DALY['DALYs (Disability-Adjusted Life Years)']
})
merged_DALY.to_csv("output_CSVs/cleaned_DALY_2.csv", encoding='utf-8')
merged_DALY

                   State Abbreviation       DALY
0                Alabama           AL   589755.8
1                 Alaska           AK    98664.7
2                Arizona           AZ   852195.8
3               Arkansas           AR   325822.3
4             California           CA  3741299.1
5               Colorado           CO   587855.6
6            Connecticut           CT   404694.7
7               Delaware           DC   117115.2
8   District of Columbia           DE    73975.4
9                Florida           FL  2271085.0
10               Georgia           GA  1080402.4
11                Hawaii           HI   125495.9
12                 Idaho           ID   179473.9
13              Illinois           IL  1276507.1
14               Indiana           IN   775218.0
15                  Iowa           IA   266206.3
16                Kansas           KS   284325.2
17              Kentucky           KY   685360.0
18             Louisiana           LA   554873.8
19                 Maine           ME   161132.0
20              Maryland           MD   532118.0
21         Massachusetts           MA   804230.4
22              Michigan           MI  1152640.3
23             Minnesota           MN   476501.3
24           Mississippi           MS   347522.3
25              Missouri           MO   707063.7
26               Montana           MT   119500.7
27              Nebraska           NE   151920.6
28                Nevada           NV   393060.2
29         New Hampshire           NH   174661.9
30            New Jersey           NJ   896411.7
31            New Mexico           NM   294983.1
32              New York           NY  1936880.0
33        North Carolina           NC  1108267.3
34          North Dakota           ND    58663.3
35                  Ohio           OH  1536390.3
36              Oklahoma           OK   520166.1
37                Oregon           OR   460078.8
38          Pennsylvania           PA  1620977.1
39          Rhode Island           RI   136739.9
40        South Carolina           SC   584462.0
41          South Dakota           SD    69024.6
42             Tennessee           TN   907924.7
43                 Texas           TX  2544857.0
44                  Utah           UT   356579.6
45               Vermont           VT    65389.4
46              Virginia           VA   839722.2
47            Washington           WA   799690.8
48         West Virginia           WV   332650.9
49             Wisconsin           WI   614357.0
50               Wyoming           WY    68878.6

In [17]:
for col in merged_DALY:
    merged_DALY[col] = merged_DALY[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

merged_DALY['text'] = merged_DALY["Abbreviation"] + '<br>' +\
    '"DALYs (Disability-Adjusted Life Years)" '+merged_DALY["DALY"]

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = merged_DALY["Abbreviation"],
        z = merged_DALY["DALY"].astype(float),
        locationmode = 'USA-states',
        text = merged_DALY['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            )
        ),
        colorbar = dict(
            title = "DALYs (Disability-Adjusted Life Years)"
        )
    ) ]

layout = dict(
        title = '2017 US Mental Illness: DALYs (Disability-Adjusted Life Years)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)',
        ),
    )

fig7 = dict( data=data, layout=layout )

url7 = py.plot( fig7, filename='DALY' )
print(url7)

https://plot.ly/~bkcenik/14

In [18]:
print(f"image is located at https://plot.ly/~bkcenik/14")

image is located at https://plot.ly/~bkcenik/14