In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.plotly as py
import plotly.tools as pytl
from config import api_key
from config import username
pytl.set_credentials_file(username=username, api_key=api_key)

In [2]:
file = "Resources/statistics.csv"
psych_df = pd.read_csv(file, encoding="utf-8")
psych_df.head()

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,metric_id,metric_name,year,val,upper,lower
0,1,Deaths,569,Virginia,1,Male,8,15 to 19,973,Substance use disorders,1,Number,2017,17.009529,24.473869,11.200329
1,1,Deaths,569,Virginia,2,Female,8,15 to 19,973,Substance use disorders,1,Number,2017,6.289063,8.849906,4.321646
2,1,Deaths,569,Virginia,1,Male,8,15 to 19,973,Substance use disorders,2,Percent,2017,0.092553,0.127542,0.064141
3,1,Deaths,569,Virginia,2,Female,8,15 to 19,973,Substance use disorders,2,Percent,2017,0.086652,0.116264,0.062147
4,1,Deaths,569,Virginia,1,Male,8,15 to 19,973,Substance use disorders,3,Rate,2017,6.044813,8.697475,3.980351

In [3]:
death_group = psych_df.groupby("measure_name")
deaths_only = psych_df.loc[psych_df["measure_name"] == "Deaths"]
deaths_only.head()
deaths_only_cleaned = deaths_only[["location_name", "sex_name", "age_name", "cause_name", "metric_name", "val"]]
deaths_only_cleaned.head(30)
deaths_number = deaths_only_cleaned.loc[deaths_only_cleaned["metric_name"] == "Rate"]
deaths_number.head()
deaths_number_cleaned = deaths_number[["location_name", "sex_name", "age_name", "cause_name", "val"]]
deaths_number_statesort = deaths_number_cleaned.sort_values("location_name", ascending=True)
deaths_number_statesort.head()
deaths_number_statesort.to_csv("deaths_rate.csv", encoding="utf-8", index=False)

In [3]:
prevalence_group = psych_df.groupby("measure_name")
prevalence_only = psych_df.loc[psych_df["measure_name"] == "Prevalence"]
prevalence_only.head()
prevalence_only_cleaned = prevalence_only[["location_name", "sex_name", "age_name", "cause_name", "metric_name", "val"]]
prevalence_only_cleaned.head(30)
prevalence_number = prevalence_only_cleaned.loc[prevalence_only_cleaned["metric_name"] == "Rate"]
prevalence_number_cleaned = prevalence_number[["location_name", "sex_name", "age_name", "cause_name", "val"]]
prevalence_number_statesort = prevalence_number_cleaned.sort_values("location_name", ascending=True)
prevalence_number_statesort.to_csv("output_CSVs/cleaned_prevalence_rate.csv", encoding="utf-8", index=False)

In [5]:
prevalence_number_statesort.head()

,location_name,sex_name,age_name,cause_name,val
44599,Alabama,Male,75 to 79,Cannabis use disorders,216.725030
327562,Alabama,Male,70 to 74,Attention-deficit/hyperactivity disorder,48.184421
327557,Alabama,Female,65 to 69,Attention-deficit/hyperactivity disorder,72.770245
327556,Alabama,Male,65 to 69,Attention-deficit/hyperactivity disorder,113.279775
327551,Alabama,Female,60 to 64,Attention-deficit/hyperactivity disorder,135.620960

In [4]:
alabama = prevalence_number_statesort.loc[prevalence_number_statesort["location_name"] == "Alabama"]
alabama
sums = alabama["val"].sum()
sums

1660935.9463251466

In [5]:
alaska = prevalence_number_statesort.loc[prevalence_number_statesort["location_name"] == "Alaska"]
sums = alaska["val"].sum()
sums

1767354.7219348638

In [6]:
total_prevalence = []
for state in prevalence_number_statesort["location_name"].unique():
    locator = prevalence_number_statesort.loc[prevalence_number_statesort["location_name"] == state]
    sums = round(locator["val"].sum(),1)
    total_prevalence.append(sums)
total_prevalence

[1660935.9,
 1767354.7,
 1799871.5,
 1737910.3,
 1597475.5,
 1733491.0,
 1680839.4,
 1740958.5,
 1723432.7,
 1659272.3,
 1597750.3,
 1605128.8,
 1736761.8,
 1587535.7,
 1698578.0,
 1569272.5,
 1625737.1,
 1787568.9,
 1674501.7,
 1727602.4,
 1615887.2,
 1698688.9,
 1702574.6,
 1578455.1,
 1657191.1,
 1673690.2,
 1773707.1,
 1553894.6,
 1764237.7,
 1757031.7,
 1589181.2,
 1841779.4,
 1649722.7,
 1605966.9,
 1546276.0,
 1731831.0,
 1764593.9,
 1705899.1,
 1694410.8,
 1835626.5,
 1722252.8,
 1540322.5,
 1760581.8,
 1551578.9,
 1774482.8,
 1691432.2,
 1622684.6,
 1719890.2,
 1902669.7,
 1709160.6,
 1713907.7]

In [7]:
unique = prevalence_number_statesort["location_name"].unique()
prevalence_df = pd.DataFrame({"State": unique,
                             "Prevalence of Mental Illness": total_prevalence}, index=None)

In [8]:
prevalence_df
prevalence_df.to_csv("output_CSVs/cleaned_prevalence_rate_sorted.csv", encoding="utf-8", index=False)
sorted_prev = prevalence_df.sort_values(by=["State"], ascending=True)
sorted_prev.head()

        State  Prevalence of Mental Illness
0     Alabama                     1660935.9
1      Alaska                     1767354.7
2     Arizona                     1799871.5
3    Arkansas                     1737910.3
4  California                     1597475.5

In [9]:
state_abbr = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
            "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
state_df = pd.DataFrame({
    "Abbreviation": state_abbr
})
prevalence_rate_final = pd.DataFrame({
    "State": sorted_prev["State"],
    "Prevalence (Rate)": sorted_prev["Prevalence of Mental Illness"],
    "Abbreviation": state_df["Abbreviation"]
})
prevalence_rate_final
prevalence_rate_sorted = prevalence_rate_final.sort_values(by="Prevalence (Rate)", ascending=True)
prevalence_rate_sorted

                   State  Prevalence (Rate) Abbreviation
41          South Dakota          1540322.5           SD
34          North Dakota          1546276.0           ND
43                 Texas          1551578.9           TX
27              Nebraska          1553894.6           NE
15                  Iowa          1569272.5           IA
23             Minnesota          1578455.1           MN
13              Illinois          1587535.7           IL
30            New Jersey          1589181.2           NJ
4             California          1597475.5           CA
10               Georgia          1597750.3           GA
11                Hawaii          1605128.8           HI
33        North Carolina          1605966.9           NC
20              Maryland          1615887.2           MD
46              Virginia          1622684.6           VA
16                Kansas          1625737.1           KS
32              New York          1649722.7           NY
24           Mississippi          1657191.1           MS
9                Florida          1659272.3           FL
0                Alabama          1660935.9           AL
25              Missouri          1673690.2           MO
18             Louisiana          1674501.7           LA
6            Connecticut          1680839.4           CT
45               Vermont          1691432.2           VT
38          Pennsylvania          1694410.8           PA
14               Indiana          1698578.0           IN
21         Massachusetts          1698688.9           MA
22              Michigan          1702574.6           MI
37                Oregon          1705899.1           OR
49             Wisconsin          1709160.6           WI
50               Wyoming          1713907.7           WY
47            Washington          1719890.2           WA
40        South Carolina          1722252.8           SC
8   District of Columbia          1723432.7           DE
19                 Maine          1727602.4           ME
35                  Ohio          1731831.0           OH
5               Colorado          1733491.0           CO
12                 Idaho          1736761.8           ID
3               Arkansas          1737910.3           AR
7               Delaware          1740958.5           DC
29         New Hampshire          1757031.7           NH
42             Tennessee          1760581.8           TN
28                Nevada          1764237.7           NV
36              Oklahoma          1764593.9           OK
1                 Alaska          1767354.7           AK
26               Montana          1773707.1           MT
44                  Utah          1774482.8           UT
17              Kentucky          1787568.9           KY
2                Arizona          1799871.5           AZ
39          Rhode Island          1835626.5           RI
31            New Mexico          1841779.4           NM
48         West Virginia          1902669.7           WV

In [10]:
for col in prevalence_rate_final:
    prevalence_rate_final[col] = prevalence_rate_final[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

prevalence_rate_final['text'] = prevalence_rate_final["Abbreviation"] + '<br>' +\
    'Prevalence (Rate) '+prevalence_rate_final["Prevalence (Rate)"]

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = prevalence_rate_final["Abbreviation"],
        z = prevalence_rate_final["Prevalence (Rate)"].astype(float),
        locationmode = 'USA-states',
        text = prevalence_rate_final['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            )
        ),
        colorbar = dict(
            title = "Prevalence (Rate)"
        )
    ) ]

layout = dict(
        title = '2017 US Mental Illness Prevalence Rate',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)',
        ),
    )

fig8 = dict( data=data, layout=layout )

url8 = py.plot( fig8, filename='prevalencerate' )
url8

'https://plot.ly/~bkcenik/16'

In [11]:
print(f"URL for prevalence rate is located at https://plot.ly/~bkcenik/18")

URL for prevalence rate is located at https://plot.ly/~bkcenik/18