In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.plotly as py
import plotly.tools as pytl
from config import api_key
from config import username
pytl.set_credentials_file(username=username, api_key=api_key)

In [2]:
# data is from https://www.cdc.gov/nchs/pressroom/sosmap/suicide-mortality/suicide.htm

In [4]:
suicide_df = pd.read_csv("SUICIDE2017.csv", encoding="utf-8")
suicide_df.head()
suicide_df = suicide_df[["STATE", "RATE", "DEATHS"]]
suicide_df.head()
suicide_df.sort_values("RATE", ascending=True)

   STATE  RATE DEATHS
31    NY   8.1  1,696
29    NJ   8.3    795
20    MA   9.5    682
19    MD   9.8    630
4     CA  10.5  4,312
6     CT  10.5    405
12    IL  11.2  1,474
7     DE  11.6    112
38    RI  11.8    129
42    TX  13.4  3,778
45    VA  13.4  1,179
9     GA  13.6  1,451
22    MN  13.8    783
8     FL  14.0  3,227
21    MI  14.1  1,457
32    NC  14.3  1,521
26    NE  14.7    275
34    OH  14.8  1,740
14    IA  15.0    479
23    MS  15.0    445
37    PA  15.0  2,030
10    HI  15.2    227
17    LA  15.2    720
48    WI  15.4    926
39    SC  16.3    838
13    IN  16.3  1,092
0     AL  16.6    836
41    TN  16.8  1,166
46    WA  16.9  1,297
16    KY  16.9    770
2     AZ  18.2  1,327
44    VT  18.3    112
24    MO  18.5  1,151
28    NH  18.9    265
18    ME  18.9    274
36    OR  19.0    825
15    KS  19.1    553
35    OK  19.1    756
33    ND  20.1    154
27    NV  20.3    627
5     CO  20.3  1,181
3     AR  20.8    631
47    WV  21.1    393
40    SD  22.5    191
43    UT  22.7    663
11    ID  23.2    392
30    NM  23.3    491
49    WY  26.9    157
1     AK  27.0    200
25    MT  28.9    311

In [5]:
suicide_sorted = suicide_df.sort_values("STATE", ascending=True)
suicide_sorted.to_csv("output_CSVs/cleaned_suicide_rates.csv", encoding="utf-8", index=False)

In [6]:
suicide_sorted.head()
suicide_sorted["STATE"].count()

50

In [7]:
for col in suicide_sorted:
    suicide_sorted[col] = suicide_sorted[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

suicide_sorted['text'] = suicide_sorted["STATE"] + '<br>' +\
    'Suicides (Rate) '+suicide_sorted["RATE"]

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = suicide_sorted["STATE"],
        z = suicide_sorted["RATE"].astype(float),
        locationmode = 'USA-states',
        text = suicide_sorted['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            )
        ),
        colorbar = dict(
            title = "Deaths (Rate)"
        )
    ) ]

layout = dict(
        title = '2017 US Deaths due to Suicide',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)',
        ),
    )

fig10 = dict( data=data, layout=layout )

url10 = py.plot( fig10, filename='suiciderate' )
url10

'https://plot.ly/~bkcenik/20'

In [8]:
print(f"suicide rate heatmap is located at https://plot.ly/~bkcenik/18")

suicide rate heatmap is located at https://plot.ly/~bkcenik/18